body{
    background-color: #E7E7E7;
    margin: 0;
    display: grid;
    grid-template-areas:
    "menulateral cabesa cabesa"
    "menulateral logo logo"
    "menulateral rodape rodape";
    grid-template-columns: auto auto auto;
    grid-template-rows:auto 80vh auto;
}

.cabesa{
    border: solid 1px #04C9F4;
    background-color: #04C9F4;
    color: #ffffff;
    grid-area: cabesa;
}

h3{
    margin-left: 6px;
}

.menulateral{
    grid-area: menulateral;
    border: solid 1px #d9d9d9;
    background-color: #d9d9d9;
    text-align: center;
}

.logo{
    border:  solid 1px #E7E7E7;
    background-color: #E7E7E7;
    grid-area: logo;
}

.imagem{
    width: 25vh;
    height: 25vh;
    display: flex;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

#contener{
    border: solid 1px #d9d9d9;
    background-color: #d9d9d9;
    width: 65%;
    height: 24%;
    display: grid;
    grid-template-areas: none;
    padding-top: 20px;
    position: absolute;
    top: 22%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.rodape{
    grid-area: rodape;
    border: solid 1px #E7E7E7;
    background-color: #ffffff;
    color: #04C9F4;
    text-align: center;
}

.a{
    border: solid 1px #ffffff;
    background-color: #d9d9d9;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 9px;
}

.b{
    border: solid 1px #ffffff;
    background-color: #d9d9d9;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 9px;
}

.c{
    border: solid 1px #ffffff;
    background-color: #04C9F4;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 9px;
}

.d{
    border: solid 1px #ffffff;
    background-color: #04C9F4;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 9px;
}

.e{
    border: solid 1px #ffffff;
    background-color: #04C9F4;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 9px;
}

.f{
    border: solid 1px #ffffff;
    background-color: #04C9F4;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 9px;
}